<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZZ} %c{1}:%M:%L [%p] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="rfAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <file>logs/common.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/history-logs/common.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxIndex>31</maxIndex>
        </rollingPolicy>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>
    <appender name="testAppender" class="cn.starpost.aliyun.loghub.logback.LoghubAppender">
        <!-- 日志服务的project名，必选参数 -->
        <projectName>starpost</projectName>
        <!-- 日志服务的logstore名，必选参数 -->
        <logstore>logistics</logstore>
        <!-- 日志服务的http地址，必选参数 -->
        <endpoint>cn-shenzhen.log.aliyuncs.com</endpoint>
		<topic>starpost</topic>
        <!-- 用户身份标识，必选参数 -->
        <accessKeyId>XXXXXX</accessKeyId>
        <accessKey>XXXXXX</accessKey>
        <!-- 输出到日志服务的时间格式，使用java中SimpleDateFormat格式化时间，默认是ISO8601，可选参数 -->
        <timeFormat>yyyy-MM-dd HH:mm:ss.SSS</timeFormat>
        <timeZone>GMT+8</timeZone>
    </appender>
    <logger name="aliyun.loghub.logback" additivity="false" level="INFO">
        <appender-ref ref="console"/>
        <appender-ref ref="rfAppender"/>
        <appender-ref ref="testAppender"/>
    </logger>
    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>
</configuration>